/* Dashboard responsive styles */

/* Mobile */
@media only screen and (max-width: 640px) {
  .responisve_dashboard_title {
    font-size: 20px;
  }
}

/* Tablet */
@media only screen and (min-width: 641px) and (max-width: 1024px) {
  .responisve_dashboard_title {
    font-size: 24px;
  }
}
